<a href="https://colab.research.google.com/github/phillipster/subsurface-element-mapping/blob/main/Copy_of_S24_Summer_Church_Nearby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
API_KEY = 'AIzaSyBbPzmWZUvD58nBY9HY1i0gAzlh2QpqsLo'

In [ ]:
import requests
import pandas as pd

In [ ]:
import requests
import time
location = '40.752301	,-73.799000	'
radius = 500
place_type = 'church'
places = []

def fetch_all_places(api_key, location, radius, place_type):
    # Google Places API endpoint
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Initial parameters for the API request
    params = {
        'key': API_KEY,
        'location': location,
        'radius': radius,
        'type': place_type
    }

    # List to store all places

    while True:
        # Make the API request
        response = requests.get(url, params=params)
        res = response.json()

        # Check if the request was successful
        if res['status'] == 'OK':
            # Extract places
            places.extend([(place['name'], place['vicinity']) for place in res['results']])

            # Check for the presence of a 'next_page_token' in the response
            if 'next_page_token' in res:
                params['pagetoken'] = res['next_page_token']
            else:
                break  # No more pages to fetch

            # Important: There is a short delay needed between requests for the next page token to become valid
            time.sleep(10)
        else:
            print("Failed to fetch results:", res['status'])
            break

    return places

# Example usage:
api_key = API_KEY  # Replace 'YOUR_API_KEY' with your actual Google Cloud API key
location = '40.752301	,-73.799000	'
radius = 500
place_type = 'church'

# Fetch all churches
churches = fetch_all_places(api_key, location, radius, place_type)
for name, vicinity in churches:
    print(f"Name: {name}, Location: {vicinity}")

Name: 뉴욕주양장로교회, Location: 169-38 Pidgeon Meadow Road, Flushing
Name: Shower of Grace Faith Bible Church, Location: 163-16 Pidgeon Meadow Road, Flushing
Name: Full Gospel Central Church, Location: 16315 Oak Avenue, Flushing

In [ ]:
len(places)

3

In [ ]:
location = '40.752301	,-73.799000	'
radius = 500
place_type = 'church'

url = (
    f'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    f'?location={location}'
    f'&radius={radius}'
    f'&type={place_type}'
    f'&key={API_KEY}'
)

response = requests.get(url)

places = response.json()
counter = 0
if places['status'] == 'OK':
    for place in places['results']:
        name = place['name']
        address = place.get('vicinity', 'No address available')
        counter += 1
        print("Counter: ",counter)
        print(f'Name: {name}, Address: {address}')
else:
    print(f"Error: {places['status']}")

Counter:  1
Name: 뉴욕주양장로교회, Address: 169-38 Pidgeon Meadow Road, Flushing
Counter:  2
Name: Shower of Grace Faith Bible Church, Address: 163-16 Pidgeon Meadow Road, Flushing
Counter:  3
Name: Full Gospel Central Church, Address: 16315 Oak Avenue, Flushing

In [ ]:
df
len(df)

3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

!pip install openpyxl

import pandas as pd

file_path = '/content/drive/MyDrive/Colab Notebooks/Cemeteries in NYC.xlsx'

df = pd.read_excel(file_path)
len(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

189

In [ ]:
df
# extract the columns important
df_filtered = df[['Name', 'Still Exists?', 'Coordinates']]
df_filtered
# Filter the DataFrame based on 'Exist or Not' status
df_exist = df_filtered[df_filtered['Still Exists?'] == 'Yes']  # or whatever the value indicating existence


# Display the filtered DataFrame
df_exist

,Name,Still Exists?,Coordinates
2,St. Andrew's Church Cemetery,Yes,74.1470843°W 40.5728612°N
6,Port Richmond Reformed Dutch Church Cemetery,Yes,74.1330302°W 40.6396185°N
7,Lutheran Cemetery,Yes,73.8876334°W 40.7123196°N
11,Ocean View Cemetery,Yes,73.9031391°W 40.8768646°N
17,Mount Loretto Cemetery,Yes,74.2181552°W 40.5142320°N
...,...,...,...
178,Second Shearith Israel Cemetery,Yes,73.9978547°W 40.7351482°N
179,First Shearith Israel Cemetery,Yes,73.9983644°W 40.7127562°N
180,Passionist Monastery Cemetery,Yes,73.7843644°W 40.7151042°N
186,Leverich Family Burial Ground,Yes,73.8945481°W 40.7500192°N
187,The New Burial Place without the gate of the city,Yes,74.0118730°W 40.7084111°N

In [ ]:
# Coordinate conversion
df_exist['Coordinates'] = df_exist['Coordinates'].astype(str)

# Function to convert coordinates
def convert_coordinates(coord):
    try:
        lon, lat = coord.split()

        # Convert longitude
        if 'W' in lon:
            lon = -float(lon.replace('°W', ''))
        elif 'E' in lon:
            lon = float(lon.replace('°E', ''))

        # Convert latitude
        if 'S' in lat:
            lat = -float(lat.replace('°S', ''))
        elif 'N' in lat:
            lat = float(lat.replace('°N', ''))

        return lon, lat
    except ValueError as e:
        print(f"Error processing coordinate: '{coord}'. Error: {e}")
        return None, None

# Apply function to split coordinates
df_exist[['Longitude', 'Latitude']] = df_exist['Coordinates'].apply(lambda x: pd.Series(convert_coordinates(x)))

# Drop the original 'Coordinates' column if needed
# df.drop(columns=['Coordinates'], inplace=True)

# Display the DataFrame
df_exist

<ipython-input-18-35273016959b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exist['Coordinates'] = df_exist['Coordinates'].astype(str)
<ipython-input-18-35273016959b>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exist[['Longitude', 'Latitude']] = df_exist['Coordinates'].apply(lambda x: pd.Series(convert_coordinates(x)))
<ipython-input-18-35273016959b>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exist[['Longitude', 'Latitude']] = df_exist['Coordinates'].apply(lambda x: pd.Series(convert_coordinates(x)))

,Name,Still Exists?,Coordinates,Longitude,Latitude
2,St. Andrew's Church Cemetery,Yes,74.1470843°W 40.5728612°N,-74.147084,40.572861
6,Port Richmond Reformed Dutch Church Cemetery,Yes,74.1330302°W 40.6396185°N,-74.133030,40.639618
7,Lutheran Cemetery,Yes,73.8876334°W 40.7123196°N,-73.887633,40.712320
11,Ocean View Cemetery,Yes,73.9031391°W 40.8768646°N,-73.903139,40.876865
17,Mount Loretto Cemetery,Yes,74.2181552°W 40.5142320°N,-74.218155,40.514232
...,...,...,...,...,...
178,Second Shearith Israel Cemetery,Yes,73.9978547°W 40.7351482°N,-73.997855,40.735148
179,First Shearith Israel Cemetery,Yes,73.9983644°W 40.7127562°N,-73.998364,40.712756
180,Passionist Monastery Cemetery,Yes,73.7843644°W 40.7151042°N,-73.784364,40.715104
186,Leverich Family Burial Ground,Yes,73.8945481°W 40.7500192°N,-73.894548,40.750019
187,The New Burial Place without the gate of the city,Yes,74.0118730°W 40.7084111°N,-74.011873,40.708411

In [ ]:
df_copy = df_exist.copy()
print("df_copy: ")
df_copy['Number of Churches Nearby'] = 0  # Initialize with 0 or any suitable default value
print(df_copy)

print("df_exist: ")
df_exist['Longitude']

df_copy:
                                                  Name Still Exists?  \
2                         St. Andrew's Church Cemetery           Yes
6         Port Richmond Reformed Dutch Church Cemetery           Yes
7                                    Lutheran Cemetery           Yes
11                                 Ocean View Cemetery           Yes
17                              Mount Loretto Cemetery           Yes
18                                   Flushing Cemetery           Yes
19                   St. Paul's Churchyard Cobble Hill           Yes
24                               Resurrection Cemetery           Yes
25                   Polish National Catholic Cemetery           Yes
29   John Street Methodist Church Graveyard and Vaults           Yes
30                         Methodist Cemetery, Jamaica           Yes
31                           Prison Ship Martyrs Tombs           Yes
32                    Stockbridge Indian Burial Ground           Yes
34                                St Joseph's Cemetery           Yes
35                              Moore Jackson cemetery           Yes
36                                  Evergreen Cemetery           Yes
40                   Our Lady Of Mount Carmel Cemetery           Yes
41                                New Utrecht Cemetery           Yes
49                            Mount St.Mary's Cemetery           Yes
50                       Presentation Sisters Cemetery           Yes
51            Flatlands Reformed Dutch Church Cemetery           Yes
52                           Pell Family Burial Ground           Yes
53                              St. Michael's Cemetery           Yes
55             St. Peter's Cemetery, West New Brighton           Yes
56                                    Rapejle Cemetery           Yes
57             Flatbush Reformed Dutch Church Cemetery           Yes
58       First Presbyterian of Throggs Neck Churchyard           Yes
60                                    Merrell Cemetery           Yes
61                               St. Monica's Cemetery           Yes
63                             Knollwood Park Cemetery           Yes
64                                 St. Anns Churchyard           Yes
66                              United Hebrew Cemetery           Yes
67                                      Riker Cemetery           Yes
70        St. Peter's Church Cemetery, Westchester sq.           Yes
73                               Baron Hirsch Cemetery           Yes
75                               Mount Olivet Cemetery           Yes
76                                   Barkeloo Cemetery           Yes
79                                 St. Mary's Cemetery           Yes
80   Bayside Cemetery, Mokom Sholom cemetery& Acaci...           Yes
85                 St. Mary of the assumption cemetery           Yes
86                      Public Burial Ground, Flushing           Yes
88                    Friend's Cemetery, Prospect Park           Yes
96                            Merchant Marine Cemetery           Yes
98                                   Canarsie Cemetery           Yes
101                    Fredrick Douglass Memorial Park           Yes
102                        Friend's Cemetery, Flushing           Yes
103                                Holy Cross Cemetery           Yes
106                  Quarantine Cemeteries, Silverlake           Yes
108                            Mount richmond Cemetery           Yes
110                                 Machpelah Cemetery           Yes
111                   New Union Field/Beth-El Cemetery           Yes
112                               Union Field Cemetery           Yes
113                     Hungarian Union Field Cemetery           Yes
115                               Linden Hill Cemetery           Yes
122         Maimonides Cemetery & Mount Hope Cemetery            Yes
124                                Montefiore Cemetery           Yes
126                              Cypress Hill Cemetery           Yes
128                        Ferris Family Burial Ground           Yes
130                            Calvary Cemetery (West)           Yes
131                            Calvary Cemetery (East)           Yes
132                     Cypress Hill National Cemetery           Yes
133                                    Pelham Cemetery           Yes
134                                Mount Zion Cemetery           Yes
135               Rossville A.M.E Zion Church cemetery           Yes
136                      Sailor's Snug Harbor Cemetery           Yes
138                  St Johns Cemetery, Middle Village           Yes
139                             Remsen Family Cemetery           Yes
140                                Washington Cemetery           Yes
141                           St. Raymond New Cemetery           Yes
142                           St. Raymond New Cemetery           Yes
143                Jesuit Cemetery, Fordham University           Yes
144                               Mount Judah Cemetery           Yes
147                        Sisters of Charity Cemetery           Yes
149                         The Marble Cemetery (West)           Yes
150                       The Marble Cemeteries (East)           Yes
151                             St. raymond Churchyard           Yes
152                         Most Holy Trinity Cemetery           Yes
154                               St. James churchyard           Yes
157                 Van Cortlandt family Burial Ground           Yes
159       Cedar Grove Cemetery & Mount Hebron Cemetery           Yes
160                       Willett Family Burial Ground           Yes
162                              Mount Carmel Cemetery           Yes
163                               Mount Neboh Cemetery           Yes
164                           Southside Burial Ground            Yes
165                          Wyckoff Snediker Cemetery           Yes
167                              Salem Fields Cemetery           Yes
168  Fourth Shearith Israel Cemetery/ Beth Olem Cem...           Yes
170                             St. Paul's Churchyard            Yes
172                             Mount Lebanon Cemetery           Yes
177                     Third Shearith Israel Cemetery           Yes
178                    Second Shearith Israel Cemetery           Yes
179                     First Shearith Israel Cemetery           Yes
180                      Passionist Monastery Cemetery           Yes
186                      Leverich Family Burial Ground           Yes
187  The New Burial Place without the gate of the city           Yes

                    Coordinates  Longitude   Latitude  \
2    74.1470843°W 40.5728612°N  -74.147084  40.572861
6    74.1330302°W 40.6396185°N  -74.133030  40.639618
7    73.8876334°W 40.7123196°N  -73.887633  40.712320
11   73.9031391°W 40.8768646°N  -73.903139  40.876865
17   74.2181552°W 40.5142320°N  -74.218155  40.514232
18   73.7990004°W 40.7523009°N  -73.799000  40.752301
19   73.9941689°W 40.6875922°N  -73.994169  40.687592
24   74.2143462°W 40.5174072°N  -74.214346  40.517407
25   74.1449783°W 40.6241779°N  -74.144978  40.624178
29   74.0081374°W 40.7091174°N  -74.008137  40.709117
30   73.7939758°W 40.7010673°N  -73.793976  40.701067
31   73.9757097°W 40.6919247°N  -73.975710  40.691925
32   73.8733106°W 40.8994856°N  -73.873311  40.899486
34   74.2156857°W 40.5512810°N  -74.215686  40.551281
35   73.9076728°W 40.7560083°N  -73.907673  40.756008
36   73.8984608°W 40.6870546°N  -73.898461  40.687055
40   73.9252112°W 40.7737858°N  -73.925211  40.773786
41   74.0060018°W 40.6107804°N  -74.006002  40.610780
49   73.8008708°W 40.7405691°N  -73.800871  40.740569
50   74.1852253°W 40.5615203°N  -74.185225  40.561520
51   73.9365018°W 40.6238848°N  -73.936502  40.623885
52   73.8047265°W 40.8705880°N  -73.804727  40.870588
53   73.8988815°W 40.7644303°N  -73.898882  40.764430
55   74.1135200°W 40.6227171°N  -74.113520  40.622717
56   73.9145271°W 40.7831731°N  -73.914527  40.783173
57   73.9594101°W 40.6499743°N  -73.959410  40.649974
58   73.8365690°W 40.8398953°N  -73.836569  40.839895
60   74.1614743°W 40.6104470°N  -74.161474  40.610447
61   73.7968904°W 40.6999486°N  -73.796890  40.699949
63   73.8983921°W 40.6916915°N  -73.898392  40.691691
64   73.9169159°W 40.8082689°N  -73.916916  40.808269
66   74.1476556°W 40.5672945°N  -74.147656  40.567295
67   73.8921776°W 40.7734059°N  -73.892178  40.773406
70   73.8439706°W 40.8382267°N  -73.843971  40.838227
73   74.1552498°W 40.6221150°N  -74.155250  40.622115
75   73.8952537°W 40.7203134°N  -73.895254  40.720313
76   74.0347311°W 40.6367861°N  -74.034731  40.636786
79   74.0818244°W 40.5967809°N  -74.081824  40.596781
80   73.8550004°W 40.6777631°N  -73.855000  40.677763
85   74.1451084°W 40.6304628°N  -74.145108  40.630463
86   73.8023791°W 40.7546461°N  -73.802379  40.754646
88   73.9726505°W 40.6599757°N  -73.972651  40.659976
96   74.1471812°W 40.5643229°N  -74.147181  40.564323
98   73.9044092°W 40.6366547°N  -73.904409  40.636655
101  74.1349930°W 40.5637141°N  -74.134993  40.563714
102  73.8301714°W 40.7628223°N  -73.830171  40.762822
103  73.9382502°W 40.6470233°N  -73.938250  40.647023
106  74.0967601°W 40.6206989°N  -74.096760  40.620699
108  74.1440413°W 40.5680268°N  -74.144041  40.568027
110  73.8863912°W 40.6937988°N  -73.886391  40.693799
111  73.8867826°W 40.6953103°N  -73.886783  40.695310
112   73.8891824°W 40.6932599°N -73.889182  40.693260
113  73.8850344°W 40.6927779°N  -73.885034  40.692778
115  73.9135659°W 40.7113964°N  -73.913566  40.711396
122  73.8707621°W 40.6919916°N  -73.870762  40.691992
124  73.7420406°W 40.6857352°N  -73.742041  40.685735
126  73.8832982°W 40.6996834°N  -73.883298  40.699683
128  73.8422270°W 40.8388529°N  -73.842227  40.838853
130  73.9305068°W 40.7335524°N  -73.930507  40.733552
131  73.9136752°W 40.7351580°N  -73.913675  40.735158
132  73.8815946°W 40.6870801°N  -73.881595  40.687080
133  73.7843497°W 40.8494459°N  -73.784350  40.849446
134  73.9064302°W 40.7306635°N  -73.906430  40.730663
135  74.2203926°W 40.5412763°N  -74.220393  40.541276
136  74.1004083°W 40.6377002°N  -74.100408  40.637700
138  73.8664287°W 40.7156927°N  -73.866429  40.715693
139  73.8585137°W 40.7124380°N  -73.858514  40.712438
140  73.9769459°W 40.6200387°N  -73.976946  40.620039
141  73.8335076°W 40.8337279°N  -73.833508  40.833728
142  73.8320570°W 40.8226350°N  -73.832057  40.822635
143  73.8858432°W 40.8634325°N  -73.885843  40.863433
144  73.8925212°W 40.6911332°N  -73.892521  40.691133
147  73.9069927°W 40.9133489°N  -73.906993  40.913349
149  73.9909627°W 40.7256338°N  -73.990963  40.725634
150  73.9889350°W 40.7245868°N  -73.988935  40.724587
151  73.8537731°W 40.8421566°N  -73.853773  40.842157
152  73.9028310°W 40.6887258°N  -73.902831  40.688726
154  73.9865002°W 40.6970455°N  -73.986500  40.697046
157  73.8922366°W 40.8958357°N  -73.892237  40.895836
159  73.8337960°W 40.7412630°N  -73.833796  40.741263
160  73.8347778°W 40.7427454°N  -73.834778  40.742745
162  73.8856158°W 40.6984065°N  -73.885616  40.698406
163  73.8831241°W 40.6961152°N  -73.883124  40.696115
164  73.8442795°W 40.6707088°N  -73.844279  40.670709
165  73.8489289°W 40.6962626°N  -73.848929  40.696263
167  73.8792047°W 40.6887692°N  -73.879205  40.688769
168  73.8803471°W 40.6904706°N  -73.880347  40.690471
170  74.0098303°W 40.7115932°N  -74.009830  40.711593
172  73.8731223°W 40.7002290°N  -73.873122  40.700229
177  73.9944312°W 40.7416240°N  -73.994431  40.741624
178  73.9978547°W 40.7351482°N  -73.997855  40.735148
179  73.9983644°W 40.7127562°N  -73.998364  40.712756
180  73.7843644°W 40.7151042°N  -73.784364  40.715104
186  73.8945481°W 40.7500192°N  -73.894548  40.750019
187  74.0118730°W 40.7084111°N  -74.011873  40.708411

     Number of Churches Nearby
2                            0
6                            0
7                            0
11                           0
17                           0
18                           0
19                           0
24                           0
25                           0
29                           0
30                           0
31                           0
32                           0
34                           0
35                           0
36                           0
40                           0
41                           0
49                           0
50                           0
51                           0
52                           0
53                           0
55                           0
56                           0
57                           0
58                           0
60                           0
61                           0
63                           0
64                           0
66                           0
67                           0
70                           0
73                           0
75                           0
76                           0
79                           0
80                           0
85                           0
86                           0
88                           0
96                           0
98                           0
101                          0
102                          0
103                          0
106                          0
108                          0
110                          0
111                          0
112                          0
113                          0
115                          0
122                          0
124                          0
126                          0
128                          0
130                          0
131                          0
132                          0
133                          0
134                          0
135                          0
136                          0
138                          0
139                          0
140                          0
141                          0
142                          0
143                          0
144                          0
147                          0
149                          0
150                          0
151                          0
152                          0
154                          0
157                          0
159                          0
160                          0
162                          0
163                          0
164                          0
165                          0
167                          0
168                          0
170                          0
172                          0
177                          0
178                          0
179                          0
180                          0
186                          0
187                          0
df_exist:

2     -74.147084
6     -74.133030
7     -73.887633
11    -73.903139
17    -74.218155
18    -73.799000
19    -73.994169
24    -74.214346
25    -74.144978
29    -74.008137
30    -73.793976
31    -73.975710
32    -73.873311
34    -74.215686
35    -73.907673
36    -73.898461
40    -73.925211
41    -74.006002
49    -73.800871
50    -74.185225
51    -73.936502
52    -73.804727
53    -73.898882
55    -74.113520
56    -73.914527
57    -73.959410
58    -73.836569
60    -74.161474
61    -73.796890
63    -73.898392
64    -73.916916
66    -74.147656
67    -73.892178
70    -73.843971
73    -74.155250
75    -73.895254
76    -74.034731
79    -74.081824
80    -73.855000
85    -74.145108
86    -73.802379
88    -73.972651
96    -74.147181
98    -73.904409
101   -74.134993
102   -73.830171
103   -73.938250
106   -74.096760
108   -74.144041
110   -73.886391
111   -73.886783
112   -73.889182
113   -73.885034
115   -73.913566
122   -73.870762
124   -73.742041
126   -73.883298
128   -73.842227
130   -73.930507
131   -73.913675
132   -73.881595
133   -73.784350
134   -73.906430
135   -74.220393
136   -74.100408
138   -73.866429
139   -73.858514
140   -73.976946
141   -73.833508
142   -73.832057
143   -73.885843
144   -73.892521
147   -73.906993
149   -73.990963
150   -73.988935
151   -73.853773
152   -73.902831
154   -73.986500
157   -73.892237
159   -73.833796
160   -73.834778
162   -73.885616
163   -73.883124
164   -73.844279
165   -73.848929
167   -73.879205
168   -73.880347
170   -74.009830
172   -73.873122
177   -73.994431
178   -73.997855
179   -73.998364
180   -73.784364
186   -73.894548
187   -74.011873
Name: Longitude, dtype: float64

In [ ]:
import time
# Making a deep copy of the current filtered dataFrame

def fetch_all_places(api_key, location,place_type, radius =500):
    # Google Places API endpoint
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Initial parameters for the API request
    params = {
        'key': API_KEY,
        'location': location,
        'radius': radius,
        'type': place_type
    }

    # List to store all places
    places = []
    counter = 0
    while True:
    # Make the API request
      response = requests.get(url, params=params)
      res = response.json()

    # Check if the request was successful
      if res['status'] == 'OK':
        # Extract places
        places.extend([(place['name'], place['vicinity']) for place in res['results']])
        counter += 1
        print("Counter: ", counter)
        # Check for the presence of a 'next_page_token' in the response
        if 'next_page_token' in res:
            params['pagetoken'] = res['next_page_token']
        else:
            break  # No more pages to fetch

        # Important: There is a short delay needed between requests for the next page token to become valid
        time.sleep(2)
      else:
        print("Failed to fetch results:", res['status'])
        break

    return len(places)


#store the churh places close to  a place
places = []
# Update DataFrame with the count of nearby churches
# Assume df is your DataFrame and already imported
for i in range(len(df_exist)):
  row = df_exist.iloc[i]
  lat, lon = row['Latitude'], row['Longitude']
  churches_count = fetch_all_places(api_key, location, place_type, radius)
  df_copy.at[i,'Number of Churches Nearby']= churches_count


# Optionally, save the updated DataFrame
df_exist.to_csv('updated_cemetery_data.csv', index=False)
df_copy.to_csv('updated_cemetery_data.csv', index=False)

# Display the DataFrame for verification
pd.set_option('display.max_rows', None)
# Print every entry in the 'Number of Churches Nearby' column
print(df_copy['Number of Churches Nearby'].to_string())

print(df_copy[['Name', 'Number of Churches Nearby']])

Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
Counter:  1
2      3.0
6      3.0
7      3.0
11     3.0
17     3.0
18     3.0
19     3.0
24     3.0
25     3.0
29     3.0
30     3.0
31     3.0
32     3.0
34     3.0
35     3.0
36     3.0
40     3.0
41     3.0
49     3.0
50     3.0
51     3.0
52     3.0
53     3.0
55     3.0
56     3.0
57     3.0
58     3.0
60     3.0
61     3.0
63     3.0
64     3.0
66     3.0
67     3.0
70     3.0
73     3.0
75     3.0
76     3.0
79     3.0
80     3.0
85     3.0
86     3.0
88     3.0
96     0.0
98     0.0
101    0.0
102    0.0
103    0.0
106    0.0
108    0.0
110    0.0
111    0.0
112    0.0
113    0.0
115    0.0
122    0.0
124    0.0
126    0.0
128    0.0
130    0.0
131    0.0
132    0.0
133    0.0
134    0.0
135    0.0
136    0.0
138    0.0
139    0.0
140    0.0
141    0.0
142    0.0
143    0.0
144    0.0
147    0.0
149    0.0
150    0.0
151    0.0
152    0.0
154    0.0
157    0.0
159    0.0
160    0.0
162    0.0
163    0.0
164    0.0
165    0.0
167    0.0
168    0.0
170    0.0
172    0.0
177    0.0
178    0.0
179    0.0
180    0.0
186    0.0
187    0.0
0      3.0
1      3.0
3      3.0
4      3.0
5      3.0
8      3.0
9      3.0
10     3.0
12     3.0
13     3.0
14     3.0
15     3.0
16     3.0
20     3.0
21     3.0
22     3.0
23     3.0
26     3.0
27     3.0
28     3.0
33     3.0
37     3.0
38     3.0
39     3.0
42     3.0
43     3.0
44     3.0
45     3.0
46     3.0
47     3.0
48     3.0
54     3.0
59     3.0
62     3.0
65     3.0
68     3.0
69     3.0
71     3.0
72     3.0
74     3.0
77     3.0
78     3.0
81     3.0
82     3.0
83     3.0
84     3.0
87     3.0
89     3.0
90     3.0
91     3.0
92     3.0
93     3.0
94     3.0
                                                  Name  \
2                         St. Andrew's Church Cemetery
6         Port Richmond Reformed Dutch Church Cemetery
7                                    Lutheran Cemetery
11                                 Ocean View Cemetery
17                              Mount Loretto Cemetery
18                                   Flushing Cemetery
19                   St. Paul's Churchyard Cobble Hill
24                               Resurrection Cemetery
25                   Polish National Catholic Cemetery
29   John Street Methodist Church Graveyard and Vaults
30                         Methodist Cemetery, Jamaica
31                           Prison Ship Martyrs Tombs
32                    Stockbridge Indian Burial Ground
34                                St Joseph's Cemetery
35                              Moore Jackson cemetery
36                                  Evergreen Cemetery
40                   Our Lady Of Mount Carmel Cemetery
41                                New Utrecht Cemetery
49                            Mount St.Mary's Cemetery
50                       Presentation Sisters Cemetery
51            Flatlands Reformed Dutch Church Cemetery
52                           Pell Family Burial Ground
53                              St. Michael's Cemetery
55             St. Peter's Cemetery, West New Brighton
56                                    Rapejle Cemetery
57             Flatbush Reformed Dutch Church Cemetery
58       First Presbyterian of Throggs Neck Churchyard
60                                    Merrell Cemetery
61                               St. Monica's Cemetery
63                             Knollwood Park Cemetery
64                                 St. Anns Churchyard
66                              United Hebrew Cemetery
67                                      Riker Cemetery
70        St. Peter's Church Cemetery, Westchester sq.
73                               Baron Hirsch Cemetery
75                               Mount Olivet Cemetery
76                                   Barkeloo Cemetery
79                                 St. Mary's Cemetery
80   Bayside Cemetery, Mokom Sholom cemetery& Acaci...
85                 St. Mary of the assumption cemetery
86                      Public Burial Ground, Flushing
88                    Friend's Cemetery, Prospect Park
96                            Merchant Marine Cemetery
98                                   Canarsie Cemetery
101                    Fredrick Douglass Memorial Park
102                        Friend's Cemetery, Flushing
103                                Holy Cross Cemetery
106                  Quarantine Cemeteries, Silverlake
108                            Mount richmond Cemetery
110                                 Machpelah Cemetery
111                   New Union Field/Beth-El Cemetery
112                               Union Field Cemetery
113                     Hungarian Union Field Cemetery
115                               Linden Hill Cemetery
122         Maimonides Cemetery & Mount Hope Cemetery
124                                Montefiore Cemetery
126                              Cypress Hill Cemetery
128                        Ferris Family Burial Ground
130                            Calvary Cemetery (West)
131                            Calvary Cemetery (East)
132                     Cypress Hill National Cemetery
133                                    Pelham Cemetery
134                                Mount Zion Cemetery
135               Rossville A.M.E Zion Church cemetery
136                      Sailor's Snug Harbor Cemetery
138                  St Johns Cemetery, Middle Village
139                             Remsen Family Cemetery
140                                Washington Cemetery
141                           St. Raymond New Cemetery
142                           St. Raymond New Cemetery
143                Jesuit Cemetery, Fordham University
144                               Mount Judah Cemetery
147                        Sisters of Charity Cemetery
149                         The Marble Cemetery (West)
150                       The Marble Cemeteries (East)
151                             St. raymond Churchyard
152                         Most Holy Trinity Cemetery
154                               St. James churchyard
157                 Van Cortlandt family Burial Ground
159       Cedar Grove Cemetery & Mount Hebron Cemetery
160                       Willett Family Burial Ground
162                              Mount Carmel Cemetery
163                               Mount Neboh Cemetery
164                           Southside Burial Ground
165                          Wyckoff Snediker Cemetery
167                              Salem Fields Cemetery
168  Fourth Shearith Israel Cemetery/ Beth Olem Cem...
170                             St. Paul's Churchyard
172                             Mount Lebanon Cemetery
177                     Third Shearith Israel Cemetery
178                    Second Shearith Israel Cemetery
179                     First Shearith Israel Cemetery
180                      Passionist Monastery Cemetery
186                      Leverich Family Burial Ground
187  The New Burial Place without the gate of the city
0                                                  NaN
1                                                  NaN
3                                                  NaN
4                                                  NaN
5                                                  NaN
8                                                  NaN
9                                                  NaN
10                                                 NaN
12                                                 NaN
13                                                 NaN
14                                                 NaN
15                                                 NaN
16                                                 NaN
20                                                 NaN
21                                                 NaN
22                                                 NaN
23                                                 NaN
26                                                 NaN
27                                                 NaN
28                                                 NaN
33                                                 NaN
37                                                 NaN
38                                                 NaN
39                                                 NaN
42                                                 NaN
43                                                 NaN
44                                                 NaN
45                                                 NaN
46                                                 NaN
47                                                 NaN
48                                                 NaN
54                                                 NaN
59                                                 NaN
62                                                 NaN
65                                                 NaN
68                                                 NaN
69                                                 NaN
71                                                 NaN
72                                                 NaN
74                                                 NaN
77                                                 NaN
78                                                 NaN
81                                                 NaN
82                                                 NaN
83                                                 NaN
84                                                 NaN
87                                                 NaN
89                                                 NaN
90                                                 NaN
91                                                 NaN
92                                                 NaN
93                                                 NaN
94                                                 NaN

     Number of Churches Nearby
2                          3.0
6                          3.0
7                          3.0
11                         3.0
17                         3.0
18                         3.0
19                         3.0
24                         3.0
25                         3.0
29                         3.0
30                         3.0
31                         3.0
32                         3.0
34                         3.0
35                         3.0
36                         3.0
40                         3.0
41                         3.0
49                         3.0
50                         3.0
51                         3.0
52                         3.0
53                         3.0
55                         3.0
56                         3.0
57                         3.0
58                         3.0
60                         3.0
61                         3.0
63                         3.0
64                         3.0
66                         3.0
67                         3.0
70                         3.0
73                         3.0
75                         3.0
76                         3.0
79                         3.0
80                         3.0
85                         3.0
86                         3.0
88                         3.0
96                         0.0
98                         0.0
101                        0.0
102                        0.0
103                        0.0
106                        0.0
108                        0.0
110                        0.0
111                        0.0
112                        0.0
113                        0.0
115                        0.0
122                        0.0
124                        0.0
126                        0.0
128                        0.0
130                        0.0
131                        0.0
132                        0.0
133                        0.0
134                        0.0
135                        0.0
136                        0.0
138                        0.0
139                        0.0
140                        0.0
141                        0.0
142                        0.0
143                        0.0
144                        0.0
147                        0.0
149                        0.0
150                        0.0
151                        0.0
152                        0.0
154                        0.0
157                        0.0
159                        0.0
160                        0.0
162                        0.0
163                        0.0
164                        0.0
165                        0.0
167                        0.0
168                        0.0
170                        0.0
172                        0.0
177                        0.0
178                        0.0
179                        0.0
180                        0.0
186                        0.0
187                        0.0
0                          3.0
1                          3.0
3                          3.0
4                          3.0
5                          3.0
8                          3.0
9                          3.0
10                         3.0
12                         3.0
13                         3.0
14                         3.0
15                         3.0
16                         3.0
20                         3.0
21                         3.0
22                         3.0
23                         3.0
26                         3.0
27                         3.0
28                         3.0
33                         3.0
37                         3.0
38                         3.0
39                         3.0
42                         3.0
43                         3.0
44                         3.0
45                         3.0
46                         3.0
47                         3.0
48                         3.0
54                         3.0
59                         3.0
62                         3.0
65                         3.0
68                         3.0
69                         3.0
71                         3.0
72                         3.0
74                         3.0
77                         3.0
78                         3.0
81                         3.0
82                         3.0
83                         3.0
84                         3.0
87                         3.0
89                         3.0
90                         3.0
91                         3.0
92                         3.0
93                         3.0
94                         3.0

In [ ]:
df_copy

,Name,Still Exists?,Coordinates,Longitude,Latitude,Number of Churches Nearby
2,St. Andrew's Church Cemetery,Yes,74.1470843°W 40.5728612°N,-74.147084,40.572861,3.0
6,Port Richmond Reformed Dutch Church Cemetery,Yes,74.1330302°W 40.6396185°N,-74.133030,40.639618,3.0
7,Lutheran Cemetery,Yes,73.8876334°W 40.7123196°N,-73.887633,40.712320,3.0
11,Ocean View Cemetery,Yes,73.9031391°W 40.8768646°N,-73.903139,40.876865,3.0
17,Mount Loretto Cemetery,Yes,74.2181552°W 40.5142320°N,-74.218155,40.514232,3.0
18,Flushing Cemetery,Yes,73.7990004°W 40.7523009°N,-73.799000,40.752301,3.0
19,St. Paul's Churchyard Cobble Hill,Yes,73.9941689°W 40.6875922°N,-73.994169,40.687592,3.0
24,Resurrection Cemetery,Yes,74.2143462°W 40.5174072°N,-74.214346,40.517407,3.0
25,Polish National Catholic Cemetery,Yes,74.1449783°W 40.6241779°N,-74.144978,40.624178,3.0
29,John Street Methodist Church Graveyard and Vaults,Yes,74.0081374°W 40.7091174°N,-74.008137,40.709117,3.0
30,"Methodist Cemetery, Jamaica",Yes,73.7939758°W 40.7010673°N,-73.793976,40.701067,3.0
31,Prison Ship Martyrs Tombs,Yes,73.9757097°W 40.6919247°N,-73.975710,40.691925,3.0
32,Stockbridge Indian Burial Ground,Yes,73.8733106°W 40.8994856°N,-73.873311,40.899486,3.0
34,St Joseph's Cemetery,Yes,74.2156857°W 40.5512810°N,-74.215686,40.551281,3.0
35,Moore Jackson cemetery,Yes,73.9076728°W 40.7560083°N,-73.907673,40.756008,3.0
36,Evergreen Cemetery,Yes,73.8984608°W 40.6870546°N,-73.898461,40.687055,3.0
40,Our Lady Of Mount Carmel Cemetery,Yes,73.9252112°W 40.7737858°N,-73.925211,40.773786,3.0
41,New Utrecht Cemetery,Yes,74.0060018°W 40.6107804°N,-74.006002,40.610780,3.0
49,Mount St.Mary's Cemetery,Yes,73.8008708°W 40.7405691°N,-73.800871,40.740569,3.0
50,Presentation Sisters Cemetery,Yes,74.1852253°W 40.5615203°N,-74.185225,40.561520,3.0
51,Flatlands Reformed Dutch Church Cemetery,Yes,73.9365018°W 40.6238848°N,-73.936502,40.623885,3.0
52,Pell Family Burial Ground,Yes,73.8047265°W 40.8705880°N,-73.804727,40.870588,3.0
53,St. Michael's Cemetery,Yes,73.8988815°W 40.7644303°N,-73.898882,40.764430,3.0
55,"St. Peter's Cemetery, West New Brighton",Yes,74.1135200°W 40.6227171°N,-74.113520,40.622717,3.0
56,Rapejle Cemetery,Yes,73.9145271°W 40.7831731°N,-73.914527,40.783173,3.0
57,Flatbush Reformed Dutch Church Cemetery,Yes,73.9594101°W 40.6499743°N,-73.959410,40.649974,3.0
58,First Presbyterian of Throggs Neck Churchyard,Yes,73.8365690°W 40.8398953°N,-73.836569,40.839895,3.0
60,Merrell Cemetery,Yes,74.1614743°W 40.6104470°N,-74.161474,40.610447,3.0
61,St. Monica's Cemetery,Yes,73.7968904°W 40.6999486°N,-73.796890,40.699949,3.0
63,Knollwood Park Cemetery,Yes,73.8983921°W 40.6916915°N,-73.898392,40.691691,3.0
64,St. Anns Churchyard,Yes,73.9169159°W 40.8082689°N,-73.916916,40.808269,3.0
66,United Hebrew Cemetery,Yes,74.1476556°W 40.5672945°N,-74.147656,40.567295,3.0
67,Riker Cemetery,Yes,73.8921776°W 40.7734059°N,-73.892178,40.773406,3.0
70,"St. Peter's Church Cemetery, Westchester sq.",Yes,73.8439706°W 40.8382267°N,-73.843971,40.838227,3.0
73,Baron Hirsch Cemetery,Yes,74.1552498°W 40.6221150°N,-74.155250,40.622115,3.0
75,Mount Olivet Cemetery,Yes,73.8952537°W 40.7203134°N,-73.895254,40.720313,3.0
76,Barkeloo Cemetery,Yes,74.0347311°W 40.6367861°N,-74.034731,40.636786,3.0
79,St. Mary's Cemetery,Yes,74.0818244°W 40.5967809°N,-74.081824,40.596781,3.0
80,"Bayside Cemetery, Mokom Sholom cemetery& Acaci...",Yes,73.8550004°W 40.6777631°N,-73.855000,40.677763,3.0
85,St. Mary of the assumption cemetery,Yes,74.1451084°W 40.6304628°N,-74.145108,40.630463,3.0
86,"Public Burial Ground, Flushing",Yes,73.8023791°W 40.7546461°N,-73.802379,40.754646,3.0
88,"Friend's Cemetery, Prospect Park",Yes,73.9726505°W 40.6599757°N,-73.972651,40.659976,3.0
96,Merchant Marine Cemetery,Yes,74.1471812°W 40.5643229°N,-74.147181,40.564323,0.0
98,Canarsie Cemetery,Yes,73.9044092°W 40.6366547°N,-73.904409,40.636655,0.0
101,Fredrick Douglass Memorial Park,Yes,74.1349930°W 40.5637141°N,-74.134993,40.563714,0.0
102,"Friend's Cemetery, Flushing",Yes,73.8301714°W 40.7628223°N,-73.830171,40.762822,0.0
103,Holy Cross Cemetery,Yes,73.9382502°W 40.6470233°N,-73.938250,40.647023,0.0
106,"Quarantine Cemeteries, Silverlake",Yes,74.0967601°W 40.6206989°N,-74.096760,40.620699,0.0
108,Mount richmond Cemetery,Yes,74.1440413°W 40.5680268°N,-74.144041,40.568027,0.0
110,Machpelah Cemetery,Yes,73.8863912°W 40.6937988°N,-73.886391,40.693799,0.0
111,New Union Field/Beth-El Cemetery,Yes,73.8867826°W 40.6953103°N,-73.886783,40.695310,0.0
112,Union Field Cemetery,Yes,73.8891824°W 40.6932599°N,-73.889182,40.693260,0.0
113,Hungarian Union Field Cemetery,Yes,73.8850344°W 40.6927779°N,-73.885034,40.692778,0.0
115,Linden Hill Cemetery,Yes,73.9135659°W 40.7113964°N,-73.913566,40.711396,0.0
122,Maimonides Cemetery & Mount Hope Cemetery,Yes,73.8707621°W 40.6919916°N,-73.870762,40.691992,0.0
124,Montefiore Cemetery,Yes,73.7420406°W 40.6857352°N,-73.742041,40.685735,0.0
126,Cypress Hill Cemetery,Yes,73.8832982°W 40.6996834°N,-73.883298,40.699683,0.0
128,Ferris Family Burial Ground,Yes,73.8422270°W 40.8388529°N,-73.842227,40.838853,0.0
130,Calvary Cemetery (West),Yes,73.9305068°W 40.7335524°N,-73.930507,40.733552,0.0
131,Calvary Cemetery (East),Yes,73.9136752°W 40.7351580°N,-73.913675,40.735158,0.0
132,Cypress Hill National Cemetery,Yes,73.8815946°W 40.6870801°N,-73.881595,40.687080,0.0
133,Pelham Cemetery,Yes,73.7843497°W 40.8494459°N,-73.784350,40.849446,0.0
134,Mount Zion Cemetery,Yes,73.9064302°W 40.7306635°N,-73.906430,40.730663,0.0
135,Rossville A.M.E Zion Church cemetery,Yes,74.2203926°W 40.5412763°N,-74.220393,40.541276,0.0
136,Sailor's Snug Harbor Cemetery,Yes,74.1004083°W 40.6377002°N,-74.100408,40.637700,0.0
138,"St Johns Cemetery, Middle Village",Yes,73.8664287°W 40.7156927°N,-73.866429,40.715693,0.0
139,Remsen Family Cemetery,Yes,73.8585137°W 40.7124380°N,-73.858514,40.712438,0.0
140,Washington Cemetery,Yes,73.9769459°W 40.6200387°N,-73.976946,40.620039,0.0
141,St. Raymond New Cemetery,Yes,73.8335076°W 40.8337279°N,-73.833508,40.833728,0.0
142,St. Raymond New Cemetery,Yes,73.8320570°W 40.8226350°N,-73.832057,40.822635,0.0
143,"Jesuit Cemetery, Fordham University",Yes,73.8858432°W 40.8634325°N,-73.885843,40.863433,0.0
144,Mount Judah Cemetery,Yes,73.8925212°W 40.6911332°N,-73.892521,40.691133,0.0
147,Sisters of Charity Cemetery,Yes,73.9069927°W 40.9133489°N,-73.906993,40.913349,0.0
149,The Marble Cemetery (West),Yes,73.9909627°W 40.7256338°N,-73.990963,40.725634,0.0
150,The Marble Cemeteries (East),Yes,73.9889350°W 40.7245868°N,-73.988935,40.724587,0.0
151,St. raymond Churchyard,Yes,73.8537731°W 40.8421566°N,-73.853773,40.842157,0.0
152,Most Holy Trinity Cemetery,Yes,73.9028310°W 40.6887258°N,-73.902831,40.688726,0.0
154,St. James churchyard,Yes,73.9865002°W 40.6970455°N,-73.986500,40.697046,0.0
157,Van Cortlandt family Burial Ground,Yes,73.8922366°W 40.8958357°N,-73.892237,40.895836,0.0
159,Cedar Grove Cemetery & Mount Hebron Cemetery,Yes,73.8337960°W 40.7412630°N,-73.833796,40.741263,0.0
160,Willett Family Burial Ground,Yes,73.8347778°W 40.7427454°N,-73.834778,40.742745,0.0
162,Mount Carmel Cemetery,Yes,73.8856158°W 40.6984065°N,-73.885616,40.698406,0.0
163,Mount Neboh Cemetery,Yes,73.8831241°W 40.6961152°N,-73.883124,40.696115,0.0
164,Southside Burial Ground,Yes,73.8442795°W 40.6707088°N,-73.844279,40.670709,0.0
165,Wyckoff Snediker Cemetery,Yes,73.8489289°W 40.6962626°N,-73.848929,40.696263,0.0
167,Salem Fields Cemetery,Yes,73.8792047°W 40.6887692°N,-73.879205,40.688769,0.0
168,Fourth Shearith Israel Cemetery/ Beth Olem Cem...,Yes,73.8803471°W 40.6904706°N,-73.880347,40.690471,0.0
170,St. Paul's Churchyard,Yes,74.0098303°W 40.7115932°N,-74.009830,40.711593,0.0
172,Mount Lebanon Cemetery,Yes,73.8731223°W 40.7002290°N,-73.873122,40.700229,0.0
177,Third Shearith Israel Cemetery,Yes,73.9944312°W 40.7416240°N,-73.994431,40.741624,0.0
178,Second Shearith Israel Cemetery,Yes,73.9978547°W 40.7351482°N,-73.997855,40.735148,0.0
179,First Shearith Israel Cemetery,Yes,73.9983644°W 40.7127562°N,-73.998364,40.712756,0.0
180,Passionist Monastery Cemetery,Yes,73.7843644°W 40.7151042°N,-73.784364,40.715104,0.0
186,Leverich Family Burial Ground,Yes,73.8945481°W 40.7500192°N,-73.894548,40.750019,0.0
187,The New Burial Place without the gate of the city,Yes,74.0118730°W 40.7084111°N,-74.011873,40.708411,0.0
0,NaN,NaN,NaN,NaN,NaN,3.0
1,NaN,NaN,NaN,NaN,NaN,3.0
3,NaN,NaN,NaN,NaN,NaN,3.0
4,NaN,NaN,NaN,NaN,NaN,3.0
5,NaN,NaN,NaN,NaN,NaN,3.0
8,NaN,NaN,NaN,NaN,NaN,3.0
9,NaN,NaN,NaN,NaN,NaN,3.0
10,NaN,NaN,NaN,NaN,NaN,3.0
12,NaN,NaN,NaN,NaN,NaN,3.0
13,NaN,NaN,NaN,NaN,NaN,3.0
14,NaN,NaN,NaN,NaN,NaN,3.0
15,NaN,NaN,NaN,NaN,NaN,3.0
16,NaN,NaN,NaN,NaN,NaN,3.0
20,NaN,NaN,NaN,NaN,NaN,3.0
21,NaN,NaN,NaN,NaN,NaN,3.0
22,NaN,NaN,NaN,NaN,NaN,3.0
23,NaN,NaN,NaN,NaN,NaN,3.0
26,NaN,NaN,NaN,NaN,NaN,3.0
27,NaN,NaN,NaN,NaN,NaN,3.0
28,NaN,NaN,NaN,NaN,NaN,3.0
33,NaN,NaN,NaN,NaN,NaN,3.0
37,NaN,NaN,NaN,NaN,NaN,3.0
38,NaN,NaN,NaN,NaN,NaN,3.0
39,NaN,NaN,NaN,NaN,NaN,3.0
42,NaN,NaN,NaN,NaN,NaN,3.0
43,NaN,NaN,NaN,NaN,NaN,3.0
44,NaN,NaN,NaN,NaN,NaN,3.0
45,NaN,NaN,NaN,NaN,NaN,3.0
46,NaN,NaN,NaN,NaN,NaN,3.0
47,NaN,NaN,NaN,NaN,NaN,3.0
48,NaN,NaN,NaN,NaN,NaN,3.0
54,NaN,NaN,NaN,NaN,NaN,3.0
59,NaN,NaN,NaN,NaN,NaN,3.0
62,NaN,NaN,NaN,NaN,NaN,3.0
65,NaN,NaN,NaN,NaN,NaN,3.0
68,NaN,NaN,NaN,NaN,NaN,3.0
69,NaN,NaN,NaN,NaN,NaN,3.0
71,NaN,NaN,NaN,NaN,NaN,3.0
72,NaN,NaN,NaN,NaN,NaN,3.0
74,NaN,NaN,NaN,NaN,NaN,3.0
77,NaN,NaN,NaN,NaN,NaN,3.0
78,NaN,NaN,NaN,NaN,NaN,3.0
81,NaN,NaN,NaN,NaN,NaN,3.0
82,NaN,NaN,NaN,NaN,NaN,3.0
83,NaN,NaN,NaN,NaN,NaN,3.0
84,NaN,NaN,NaN,NaN,NaN,3.0
87,NaN,NaN,NaN,NaN,NaN,3.0
89,NaN,NaN,NaN,NaN,NaN,3.0
90,NaN,NaN,NaN,NaN,NaN,3.0
91,NaN,NaN,NaN,NaN,NaN,3.0
92,NaN,NaN,NaN,NaN,NaN,3.0
93,NaN,NaN,NaN,NaN,NaN,3.0
94,NaN,NaN,NaN,NaN,NaN,3.0

In [ ]:
df_exist = df_exist[pd.to_numeric(df_exist['Number of Churches Nearby'], errors='coerce').notna()]
pd.set_option('display.max_rows', None)
print(df_exist[['Name', 'Number of Churches Nearby']])

                                                  Name  \
2                         St. Andrew's Church Cemetery
6         Port Richmond Reformed Dutch Church Cemetery
7                                    Lutheran Cemetery
11                                 Ocean View Cemetery
17                              Mount Loretto Cemetery
18                                   Flushing Cemetery
19                   St. Paul's Churchyard Cobble Hill
24                               Resurrection Cemetery
25                   Polish National Catholic Cemetery
29   John Street Methodist Church Graveyard and Vaults
30                         Methodist Cemetery, Jamaica
31                           Prison Ship Martyrs Tombs
32                    Stockbridge Indian Burial Ground
34                                St Joseph's Cemetery
35                              Moore Jackson cemetery
36                                  Evergreen Cemetery
40                   Our Lady Of Mount Carmel Cemetery
41                                New Utrecht Cemetery
49                            Mount St.Mary's Cemetery
50                       Presentation Sisters Cemetery
51            Flatlands Reformed Dutch Church Cemetery
52                           Pell Family Burial Ground
53                              St. Michael's Cemetery
55             St. Peter's Cemetery, West New Brighton
56                                    Rapejle Cemetery
57             Flatbush Reformed Dutch Church Cemetery
58       First Presbyterian of Throggs Neck Churchyard
60                                    Merrell Cemetery
61                               St. Monica's Cemetery
63                             Knollwood Park Cemetery
64                                 St. Anns Churchyard
66                              United Hebrew Cemetery
67                                      Riker Cemetery
70        St. Peter's Church Cemetery, Westchester sq.
73                               Baron Hirsch Cemetery
75                               Mount Olivet Cemetery
76                                   Barkeloo Cemetery
79                                 St. Mary's Cemetery
80   Bayside Cemetery, Mokom Sholom cemetery& Acaci...
85                 St. Mary of the assumption cemetery
86                      Public Burial Ground, Flushing
88                    Friend's Cemetery, Prospect Park
96                            Merchant Marine Cemetery
98                                   Canarsie Cemetery
101                    Fredrick Douglass Memorial Park
102                        Friend's Cemetery, Flushing
103                                Holy Cross Cemetery
106                  Quarantine Cemeteries, Silverlake
108                            Mount richmond Cemetery
110                                 Machpelah Cemetery
111                   New Union Field/Beth-El Cemetery
112                               Union Field Cemetery
113                     Hungarian Union Field Cemetery
115                               Linden Hill Cemetery
122         Maimonides Cemetery & Mount Hope Cemetery
124                                Montefiore Cemetery
126                              Cypress Hill Cemetery
128                        Ferris Family Burial Ground
130                            Calvary Cemetery (West)
131                            Calvary Cemetery (East)
132                     Cypress Hill National Cemetery
133                                    Pelham Cemetery
134                                Mount Zion Cemetery
135               Rossville A.M.E Zion Church cemetery
136                      Sailor's Snug Harbor Cemetery
138                  St Johns Cemetery, Middle Village
139                             Remsen Family Cemetery
140                                Washington Cemetery
141                           St. Raymond New Cemetery
142                           St. Raymond New Cemetery
143                Jesuit Cemetery, Fordham University
144                               Mount Judah Cemetery
147                        Sisters of Charity Cemetery
149                         The Marble Cemetery (West)
150                       The Marble Cemeteries (East)
151                             St. raymond Churchyard
152                         Most Holy Trinity Cemetery
154                               St. James churchyard
157                 Van Cortlandt family Burial Ground
159       Cedar Grove Cemetery & Mount Hebron Cemetery
160                       Willett Family Burial Ground
162                              Mount Carmel Cemetery
163                               Mount Neboh Cemetery
164                           Southside Burial Ground
165                          Wyckoff Snediker Cemetery
167                              Salem Fields Cemetery
168  Fourth Shearith Israel Cemetery/ Beth Olem Cem...
170                             St. Paul's Churchyard
172                             Mount Lebanon Cemetery
177                     Third Shearith Israel Cemetery
178                    Second Shearith Israel Cemetery
179                     First Shearith Israel Cemetery
180                      Passionist Monastery Cemetery
186                      Leverich Family Burial Ground
187  The New Burial Place without the gate of the city
0                                                  NaN
1                                                  NaN
3                                                  NaN
4                                                  NaN
5                                                  NaN
8                                                  NaN
9                                                  NaN
10                                                 NaN
12                                                 NaN
13                                                 NaN
14                                                 NaN
15                                                 NaN
16                                                 NaN
20                                                 NaN
21                                                 NaN
22                                                 NaN
23                                                 NaN
26                                                 NaN
27                                                 NaN
28                                                 NaN
33                                                 NaN
37                                                 NaN
38                                                 NaN
39                                                 NaN
42                                                 NaN
43                                                 NaN
44                                                 NaN
45                                                 NaN
46                                                 NaN
47                                                 NaN
48                                                 NaN
54                                                 NaN
59                                                 NaN
62                                                 NaN
65                                                 NaN
68                                                 NaN
69                                                 NaN
71                                                 NaN
72                                                 NaN
74                                                 NaN
77                                                 NaN
78                                                 NaN
81                                                 NaN
82                                                 NaN
83                                                 NaN
84                                                 NaN
87                                                 NaN
89                                                 NaN
90                                                 NaN
91                                                 NaN
92                                                 NaN
93                                                 NaN
94                                                 NaN
95                                                 NaN
97                                                 NaN
99                                                 NaN
100                                                NaN
104                                                NaN
105                                                NaN
107                                                NaN
109                                                NaN
114                                                NaN
116                                                NaN
117                                                NaN
118                                                NaN
119                                                NaN
120                                                NaN
121                                                NaN
123                                                NaN
125                                                NaN
127                                                NaN
129                                                NaN
137                                                NaN
145                                                NaN
146                                                NaN
148                                                NaN
153                                                NaN
155                                                NaN
156                                                NaN
158                                                NaN
161                                                NaN
166                                                NaN
169                                                NaN
171                                                NaN
173                                                NaN
174                                                NaN
175                                                NaN
176                                                NaN
181                                                NaN
182                                                NaN
183                                                NaN
184                                                NaN
185                                                NaN
188                                                NaN

     Number of Churches Nearby
2                          4.0
6                         19.0
7                          8.0
11                        19.0
17                         2.0
18                        38.0
19                        40.0
24                         7.0
25                        13.0
29                        41.0
30                        60.0
31                        41.0
32                         8.0
34                         1.0
35                        30.0
36                        21.0
40                        22.0
41                        23.0
49                        14.0
50                         0.0
51                        49.0
52                         0.0
53                         8.0
55                         9.0
56                         6.0
57                        60.0
58                        16.0
60                         6.0
61                        60.0
63                        19.0
64                        60.0
66                         3.0
67                         4.0
70                        33.0
73                         5.0
75                         5.0
76                         9.0
79                         1.0
80                        23.0
85                        13.0
86                        50.0
88                        15.0
96                         3.0
98                        44.0
101                        2.0
102                       60.0
103                       60.0
106                        6.0
108                        3.0
110                        8.0
111                       12.0
112                        8.0
113                        9.0
115                       31.0
122                       24.0
124                       23.0
126                       14.0
128                       27.0
130                        7.0
131                       10.0
132                       29.0
133                        3.0
134                        3.0
135                        1.0
136                       12.0
138                        6.0
139                        6.0
140                        6.0
141                        6.0
142                        3.0
143                       40.0
144                        4.0
147                       17.0
149                       60.0
150                       60.0
151                       39.0
152                       36.0
154                       33.0
157                        0.0
159                        8.0
160                        8.0
162                       16.0
163                       12.0
164                        4.0
165                       27.0
167                       20.0
168                       11.0
170                       40.0
172                       13.0
177                       60.0
178                       60.0
179                       60.0
180                       26.0
186                       53.0
187                       34.0
0                         57.0
1                         53.0
3                          2.0
4                         34.0
5                         59.0
8                         47.0
9                         60.0
10                        60.0
12                         1.0
13                        45.0
14                        31.0
15                        32.0
16                        48.0
20                        21.0
21                        39.0
22                        34.0
23                        60.0
26                        38.0
27                        21.0
28                        60.0
33                        60.0
37                        60.0
38                        60.0
39                        15.0
42                        19.0
43                        44.0
44                        51.0
45                        60.0
46                        37.0
47                        60.0
48                        60.0
54                        50.0
59                        60.0
62                        19.0
65                        36.0
68                        60.0
69                        26.0
71                        33.0
72                        30.0
74                        38.0
77                        60.0
78                        60.0
81                        45.0
82                        60.0
83                        47.0
84                        59.0
87                        60.0
89                        55.0
90                        60.0
91                        60.0
92                        60.0
93                         0.0
94                        60.0
95                        54.0
97                        43.0
99                        60.0
100                       42.0
104                       16.0
105                       14.0
107                        1.0
109                        8.0
114                       19.0
116                       60.0
117                       60.0
118                       60.0
119                       60.0
120                       60.0
121                       60.0
123                       42.0
125                       60.0
127                       60.0
129                       60.0
137                       56.0
145                       17.0
146                       60.0
148                       10.0
153                       14.0
155                       16.0
156                       60.0
158                        5.0
161                       60.0
166                       15.0
169                       42.0
171                       41.0
173                       40.0
174                       60.0
175                       60.0
176                       43.0
181                       60.0
182                        7.0
183                       35.0
184                       15.0
185                       18.0
188                       30.0

In [ ]:
df

,Unnamed: 0,Name,Borough,Still Exists?,Cleared?,Link to Blog Post,Coordinates,Size(ft),Category,Year Built,...,Year Lost,Neighborhood,Number of Churches Nearby,Largest Ethnicity in Neighborhood,Median Property value(dollars),Median household rent(dollars),Unnamed: 19,Unnamed: 20,Longitude,Latitude
0,1,Shaaray Tefila Cemetery,Manhattan,No,No,https://nycemetery.wordpress.com/2021/10/28/sh...,73.9527265°W 40.7938795°N,10000.0,Synagogue,1846.0,...,NaN,East Harlem,4(exist),Hispanic,875000.0,2965.0,Sources:,NaN,-73.952726,40.793880
1,2,Brick Presbyterian Churchyard,Manhattan,No,Yes,https://nycemetery.wordpress.com/2024/06/09/br...,74.0064395°W 40.7116137°N,NaN,Presbyterian,1767.0,...,NaN,Financial District,NaN,White,1500000.0,4142.0,Financial District household median income,https://yourtownhouseguy.com/neighborhoods/fin...,-74.006439,40.711614
2,3,St. Andrew's Church Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2024/05/05/st...,74.1470843°W 40.5728612°N,87120.0,English Norman Parish,1733.0,...,NaN,Oakwood,3,White,576440.0,NaN,"Oakwood, Staten Island household median income",https://www.point2homes.com/US/Neighborhood/NY...,-74.147084,40.572861
3,4,Luyster Cemetery,Queens,No,Yes,https://nycemetery.wordpress.com/2024/04/21/lu...,73.8832846°W 40.7719656°N,NaN,Dutch Cemetery,1668.0,...,NaN,East Elmhurst,NaN,Hispanic,932450.0,2036.0,Church number in a neighbourhood,https://www.faithstreet.com,-73.883285,40.771966
4,5,Bergen Family Burial ground,Brooklyn,No,Yes,https://nycemetery.wordpress.com/2023/11/30/be...,74.0074895°W 40.6529412°N,4606.0,Family Burial,1830.0,...,NaN,Sunset Park,NaN,Hispanic,1440000.0,NaN,NYC Neighbourhood Map,https://www.nytimes.com/interactive/2023/upsho...,-74.007490,40.652941
5,6,41St Street Reformed Presbyterian Church Cemetery,Manhattan,No,Yes,https://nycemetery.wordpress.com/2023/11/12/41...,73.9939028°W 40.7578709°N,15625.0,Reformed Presbyterian,1832.0,...,NaN,Midtown,NaN,White,2030000.0,4022.0,NaN,NaN,-73.993903,40.757871
6,7,Port Richmond Reformed Dutch Church Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2023/10/12/re...,74.1330302°W 40.6396185°N,56628.0,Reformed Dutch,1690.0,...,NaN,Port Richmond,9,Hispanic,NaN,NaN,NaN,NaN,-74.133030,40.639618
7,8,Lutheran Cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2023/09/16/lu...,73.8876334°W 40.7123196°N,9801000.0,All faith Cemetery,1850.0,...,NaN,Middle Village,1,White,NaN,NaN,NaN,NaN,-73.887633,40.712320
8,9,First Reformed Dutch Church of Brooklyn cemetery,Brooklyn,No,Yes,https://nycemetery.wordpress.com/2023/05/18/fi...,73.9861576°W 40.6905269°N,NaN,Reformed Dutch,1654.0,...,NaN,Downtown Brooklyn,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.986158,40.690527
9,10,Melrose Cemetery,Bronx,No,Unsure,https://nycemetery.wordpress.com/2023/04/30/me...,73.9116024°W 40.8188231°N,NaN,German Catholic Burial,1853.0,...,NaN,Melrose,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.911602,40.818823
10,11,Attorney Street Methodist Protestant Church Bu...,Manhattan,No,Unsure,https://nycemetery.wordpress.com/2023/04/20/at...,73.9849732°W 40.7182312°N,NaN,Synagogue,1831.0,...,NaN,lower east,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.984973,40.718231
11,12,Ocean View Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2023/03/23/oc...,73.9031391°W 40.8768646°N,NaN,Nondenominational Burial,1920.0,...,NaN,Oakwood,5,Hispanic,NaN,NaN,NaN,NaN,-73.903139,40.876865
12,13,Thorne-Wilkins Cemetery,Queens,No,No,https://nycemetery.wordpress.com/2023/02/02/th...,73.7794014°W 40.7928425°N,NaN,Family Burial Ground,1829.0,...,NaN,Oakwood,0,Hispanic,NaN,NaN,NaN,NaN,-73.779401,40.792842
13,14,"Public Burial Ground,Brooklyn",Brooklyn,No,Unsure,https://nycemetery.wordpress.com/2022/12/30/pu...,73.9899974°W 40.6918237°N,NaN,Public Burial,NaN,...,NaN,Downtown Brooklyn,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.989997,40.691824
14,15,"Public Burial Ground, Fordham Road",Bronx,No,Yes,https://nycemetery.wordpress.com/2022/12/24/fo...,73.9001643°W 40.8686314°N,NaN,NaN,NaN,...,NaN,Kingsbridge,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.900164,40.868631
15,16,"Fordham Manor Church Cemetery, Kingsbridge Road",Bronx,No,Yes,https://nycemetery.wordpress.com/2022/12/24/fo...,73.9085809°W 40.8624280°N,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.908581,40.862428
16,16,Bedford Street Methodist Church Graveyard and ...,Manhattan,No,Yes,https://nycemetery.wordpress.com/2022/12/05/be...,74.0041214°W 40.7309736°N,NaN,NaN,1810.0,...,NaN,Greenwich Village,NaN,Hispanic,NaN,NaN,NaN,NaN,-74.004121,40.730974
17,17,Mount Loretto Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2022/11/26/mo...,74.2181552°W 40.5142320°N,NaN,NaN,1883.0,...,NaN,Prince's Bay/ Pleasant plains,1,Hispanic,NaN,NaN,NaN,NaN,-74.218155,40.514232
18,18,Flushing Cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2022/11/20/fl...,73.7990004°W 40.7523009°N,NaN,NaN,1853.0,...,NaN,East flushing,10,Hispanic,NaN,NaN,NaN,NaN,-73.799000,40.752301
19,19,St. Paul's Churchyard Cobble Hill,Brooklyn,Yes,No,https://nycemetery.wordpress.com/2022/11/06/st...,73.9941689°W 40.6875922°N,NaN,NaN,1838.0,...,NaN,Cobble Hill,20,Hispanic,NaN,NaN,NaN,NaN,-73.994169,40.687592
20,20,"Catholic Cemetery, Willamsburg",Brooklyn,No,Yes,https://nycemetery.wordpress.com/2022/10/20/ca...,73.9606618°W 40.7208862°N,NaN,NaN,1840.0,...,NaN,Williamsburg,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.960662,40.720886
21,21,Bay Ridge Methodist Church Cemetery,Brooklyn,No,Unsure,https://nycemetery.wordpress.com/2022/10/16/ba...,74.0177421°W 40.6346273°N,NaN,NaN,1831.0,...,NaN,bay Ridge,NaN,Hispanic,NaN,NaN,NaN,NaN,-74.017742,40.634627
22,22,Westchester Methodist Church Graveyard,Bronx,No,Unsure,https://nycemetery.wordpress.com/2022/10/11/we...,73.8486245°W 40.8433273°N,NaN,NaN,1948.0,...,NaN,WestChester Square,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.848624,40.843327
23,23,"St. Andrew's Churchyard, Harlem",Manhattan,No,Yes,https://nycemetery.wordpress.com/2022/10/09/st...,73.9374580°W 40.8065243°N,NaN,NaN,1830.0,...,NaN,East Harlem,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.937458,40.806524
24,24,Resurrection Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2022/09/26/re...,74.2143462°W 40.5174072°N,NaN,NaN,1977.0,...,NaN,Prince's Bay/ Pleasant plains,7,Hispanic,NaN,NaN,NaN,NaN,-74.214346,40.517407
25,25,Polish National Catholic Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2022/03/20/po...,74.1449783°W 40.6241779°N,NaN,NaN,1897.0,...,NaN,Graniteville,13,Hispanic,NaN,NaN,NaN,NaN,-74.144978,40.624178
26,26,First Presbyterian Church of Newtown Cemetery,Queens,No,Yes,https://nycemetery.wordpress.com/2022/09/21/fi...,73.8761502°W 40.7363194°N,NaN,NaN,1652.0,...,NaN,Elmhurst,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.876150,40.736319
27,27,Cannon Street Baptist Church Cemetery,Brooklyn,No,Unsure,https://nycemetery.wordpress.com/2022/09/16/ca...,73.9426316°W 40.7178933°N,NaN,NaN,1846.0,...,NaN,Cypress Hills,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.942632,40.717893
28,28,West Farms Reformed Dutch Church Cemetery& Hed...,Bronx,No,Unsure,https://nycemetery.wordpress.com/2022/09/12/we...,73.8849403°W 40.8327102°N,NaN,NaN,1769.0,...,NaN,West Farm,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.884940,40.832710
29,29,John Street Methodist Church Graveyard and Vaults,Manhattan,Yes,No,https://nycemetery.wordpress.com/2022/09/05/jo...,74.0081374°W 40.7091174°N,NaN,NaN,1768.0,...,NaN,lower east,20,Hispanic,NaN,NaN,NaN,NaN,-74.008137,40.709117
30,30,"Methodist Cemetery, Jamaica",Queens,Yes,No,https://nycemetery.wordpress.com/2022/03/15/me...,73.7939758°W 40.7010673°N,NaN,NaN,1850.0,...,NaN,Jamaica/ South Jamaica,20,Hispanic,NaN,NaN,NaN,NaN,-73.793976,40.701067
31,31,Prison Ship Martyrs Tombs,Brooklyn,Yes,No,https://nycemetery.wordpress.com/2022/03/08/pr...,73.9757097°W 40.6919247°N,NaN,NaN,1808.0,...,NaN,Vinegar Hill/ Dumbo,20,Hispanic,NaN,NaN,NaN,NaN,-73.975710,40.691925
32,32,Stockbridge Indian Burial Ground,Bronx,Yes,No,https://nycemetery.wordpress.com/2022/03/01/st...,73.8733106°W 40.8994856°N,NaN,NaN,1778.0,...,NaN,Van Cortlandt Park,5,Hispanic,NaN,NaN,NaN,NaN,-73.873311,40.899486
33,33,St.Thomas Churchyard,Manhattan,No,No,https://nycemetery.wordpress.com/2022/02/27/st...,73.9971414°W 40.7259413°N,NaN,NaN,1825.0,...,NaN,Greenwich Village,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.997141,40.725941
34,34,St Joseph's Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2022/02/24/st...,74.2156857°W 40.5512810°N,NaN,NaN,1862.0,...,NaN,Rosseville,1,Hispanic,NaN,NaN,NaN,NaN,-74.215686,40.551281
35,35,Moore Jackson cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2022/02/20/mo...,73.9076728°W 40.7560083°N,NaN,NaN,1733.0,...,NaN,Astoria,12,Hispanic,NaN,NaN,NaN,NaN,-73.907673,40.756008
36,36,Evergreen Cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2022/01/17/ev...,73.8984608°W 40.6870546°N,NaN,NaN,1849.0,...,NaN,Forest Park,2,Hispanic,NaN,NaN,NaN,NaN,-73.898461,40.687055
37,37,St. Augustine's Churchyard,Bronx,No,Unsure,https://nycemetery.wordpress.com/2022/01/11/st...,73.8999536°W 40.8339999°N,NaN,NaN,1850.0,...,NaN,Mott Haven/East Tremont,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.899954,40.834000
38,38,"German Catholic Cemetery, 124th Street",Manhattan,No,Yes,https://nycemetery.wordpress.com/2021/12/21/ge...,73.9503135°W 40.8084606°N,NaN,NaN,1848.0,...,NaN,Harlem,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.950313,40.808461
39,39,Cherry Lane African Church Cemetery,Staten Island,No,No,https://nycemetery.wordpress.com/2021/12/11/ch...,74.1366239°W 40.6242403°N,NaN,NaN,1850.0,...,NaN,Port Richmond,NaN,Hispanic,NaN,NaN,NaN,NaN,-74.136624,40.624240
40,40,Our Lady Of Mount Carmel Cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2021/12/07/ou...,73.9252112°W 40.7737858°N,NaN,NaN,1841.0,...,NaN,Astoria,10,Hispanic,NaN,NaN,NaN,NaN,-73.925211,40.773786
41,41,New Utrecht Cemetery,Brooklyn,Yes,No,https://nycemetery.wordpress.com/2021/11/30/ne...,74.0060018°W 40.6107804°N,NaN,NaN,1654.0,...,NaN,Bensonhurst,9,Hispanic,NaN,NaN,NaN,NaN,-74.006002,40.610780
42,42,Cole Family Burial Ground,Bronx,No,Unsure,https://nycemetery.wordpress.com/2021/11/27/co...,73.9031391°W 40.8768646°N,NaN,NaN,1820.0,...,NaN,Kingsbridge,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.903139,40.876865
43,43,88th Street Jewish Cemetery,Manhattan,No,Unsure,https://nycemetery.wordpress.com/2021/11/13/88...,73.9572121°W 40.7816553°N,NaN,NaN,1840.0,...,NaN,Upper East Side,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.957212,40.781655
44,44,Mendelssohn Benevolent Society Cemetery,Manhattan,No,Yes,https://nycemetery.wordpress.com/2021/11/07/me...,73.9562811°W 40.7805233°N,NaN,NaN,1845.0,...,NaN,Upper East Side,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.956281,40.780523
45,45,Anshe Chesed Cemeteries (45th st),Manhattan,No,Unsure,https://nycemetery.wordpress.com/2021/10/21/an...,73.9829176°W 40.7570671°N,NaN,NaN,1830.0,...,NaN,Midtown,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.982918,40.757067
46,46,Anshe Chesed Cemeteries (89th st),Manhattan,No,Unsure,https://nycemetery.wordpress.com/2021/10/21/an...,73.9585808°W 40.7830687°N,NaN,NaN,1846.0,...,NaN,Upper East Side,NaN,NaN,NaN,NaN,NaN,NaN,-73.958581,40.783069
47,47,Watt-Pinkney Family Burial Ground,Manhattan,No,Yes,https://nycemetery.wordpress.com/2021/09/17/wa...,73.9411737°W 40.8178206°N,NaN,NaN,1826.0,...,NaN,Harlem,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.941174,40.817821
48,48,"Shaar Hashomayim Cemetery, Williamsburg",Brooklyn,No,Unsure,https://nycemetery.wordpress.com/2021/10/07/sh...,73.9534717°W 40.7094917°N,NaN,NaN,1839.0,...,NaN,Williamsburg,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.953472,40.709492
49,49,Mount St.Mary's Cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2021/09/23/mo...,73.8008708°W 40.7405691°N,NaN,NaN,1862.0,...,NaN,Fresh Meadows,0,Hispanic,NaN,NaN,NaN,NaN,-73.800871,40.740569
50,50,Presentation Sisters Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2021/09/13/pr...,74.1852253°W 40.5615203°N,NaN,NaN,NaN,...,NaN,Annadale,0,Hispanic,NaN,NaN,NaN,NaN,-74.185225,40.561520
51,51,Flatlands Reformed Dutch Church Cemetery,Brooklyn,Yes,No,https://nycemetery.wordpress.com/2021/09/05/fl...,73.9365018°W 40.6238848°N,NaN,NaN,1848.0,...,NaN,Flatlands,11,Hispanic,NaN,NaN,NaN,NaN,-73.936502,40.623885
52,52,Pell Family Burial Ground,Bronx,Yes,No,https://nycemetery.wordpress.com/2021/08/29/pe...,73.8047265°W 40.8705880°N,NaN,NaN,1842.0,...,NaN,Pelham Bay Park,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.804727,40.870588
53,53,St. Michael's Cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2021/08/22/st...,73.8988815°W 40.7644303°N,NaN,NaN,1852.0,...,NaN,East Elmhurst,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.898882,40.764430
54,54,St. Michael's Churchyard and Cemetery,Manhattan,No,Yes,https://nycemetery.wordpress.com/2021/08/07/st...,73.9654913°W 40.7980708°N,NaN,NaN,1828.0,...,NaN,Upper West Side,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.965491,40.798071
55,55,"St. Peter's Cemetery, West New Brighton",Staten Island,Yes,No,https://nycemetery.wordpress.com/2021/07/25/st...,74.1135200°W 40.6227171°N,NaN,NaN,1848.0,...,NaN,West Brighton,NaN,Hispanic,NaN,NaN,NaN,NaN,-74.113520,40.622717
56,56,Rapejle Cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2021/07/17/ra...,73.9145271°W 40.7831731°N,NaN,NaN,NaN,...,NaN,Astoria,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.914527,40.783173
57,57,Flatbush Reformed Dutch Church Cemetery,Brooklyn,Yes,No,https://nycemetery.wordpress.com/2021/07/09/fl...,73.9594101°W 40.6499743°N,NaN,NaN,1754.0,...,NaN,Flatbush,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.959410,40.649974
58,58,First Presbyterian of Throggs Neck Churchyard,Bronx,Yes,No,https://nycemetery.wordpress.com/2021/06/23/fi...,73.8365690°W 40.8398953°N,NaN,NaN,1855.0,...,NaN,Pelham Bay,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.836569,40.839895
59,59,Bethel Baptist Church Cemetery,Manhattan,No,Unsure,https://nycemetery.wordpress.com/2021/06/13/be...,73.9923580°W 40.7205120°N,NaN,NaN,1819.0,...,NaN,Lower East Side,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.992358,40.720512
60,60,Merrell Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2021/06/03/me...,74.1614743°W 40.6104470°N,NaN,NaN,1784.0,...,NaN,Heartland Village,NaN,Hispanic,NaN,NaN,NaN,NaN,-74.161474,40.610447
61,61,St. Monica's Cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2021/05/13/st...,73.7968904°W 40.6999486°N,NaN,NaN,1838.0,...,NaN,Jamaica,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.796890,40.699949
62,62,Naval Cemetery,Brooklyn,No,Yes,https://nycemetery.wordpress.com/2021/05/03/na...,73.9631716°W 40.6993486°N,NaN,NaN,1831.0,...,NaN,Brooklyn Navy Yard,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.963172,40.699349
63,63,Knollwood Park Cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2021/04/27/kn...,73.8983921°W 40.6916915°N,NaN,NaN,1947.0,...,NaN,Forest Park,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.898392,40.691691
64,64,St. Anns Churchyard,Bronx,Yes,No,https://nycemetery.wordpress.com/2021/04/15/st...,73.9169159°W 40.8082689°N,NaN,NaN,1841.0,...,NaN,Mott Haven,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.916916,40.808269
65,65,New/Middle Dutch Churchyard,Manhattan,No,Unsure,https://nycemetery.wordpress.com/2021/03/27/ne...,74.0094020°W 40.7082414°N,NaN,NaN,1729.0,...,NaN,Financial District,NaN,Hispanic,NaN,NaN,NaN,NaN,-74.009402,40.708241
66,66,United Hebrew Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2021/02/23/un...,74.1476556°W 40.5672945°N,NaN,NaN,1908.0,...,NaN,Randall Manor,NaN,Hispanic,NaN,NaN,NaN,NaN,-74.147656,40.567295
67,67,Riker Cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2021/02/14/ri...,73.8921776°W 40.7734059°N,NaN,NaN,1742.0,...,NaN,Astoria,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.892178,40.773406
68,68,"African Burial Ground, Flatbush",Brooklyn,No,Unsure,https://nycemetery.wordpress.com/2021/02/01/af...,73.9561183°W 40.6503185°N,NaN,NaN,NaN,...,NaN,Flatbush,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.956118,40.650318
69,69,Wallabout Cemetery,Brooklyn,No,Unsure,https://nycemetery.wordpress.com/2021/01/23/wa...,73.9771872°W 40.6949466°N,NaN,NaN,1827.0,...,NaN,Downtown Brooklyn,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.977187,40.694947
70,70,"St. Peter's Church Cemetery, Westchester sq.",Bronx,Yes,No,74.0095285°W 40.7124899°N,73.8439706°W 40.8382267°N,NaN,NaN,1795.0,...,NaN,Westchester Square,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.843971,40.838227
71,71,"Friend Cemetery, Westchester sq.",Bronx,No,No,https://nycemetery.wordpress.com/2021/01/18/st...,73.8445640°W 40.8378156°N,NaN,NaN,1723.0,...,NaN,Westchester Square,NaN,NaN,NaN,NaN,NaN,NaN,-73.844564,40.837816
72,72,Jones's Wood Cemetery,Manhattan,No,No,https://nycemetery.wordpress.com/2021/01/02/jo...,73.9556131°W 40.7628049°N,NaN,NaN,NaN,...,NaN,Midtown,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.955613,40.762805
73,73,Baron Hirsch Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2020/12/16/ba...,74.1552498°W 40.6221150°N,NaN,NaN,1899.0,...,NaN,Mariners Harbor,NaN,Hispanic,NaN,NaN,NaN,NaN,-74.155250,40.622115
74,74,Newtown Cemetery,Queens,No,No,https://nycemetery.wordpress.com/2020/11/29/ne...,73.8696355°W 40.7363805°N,NaN,NaN,1730.0,...,NaN,Elmhurst,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.869636,40.736381
75,75,Mount Olivet Cemetery,Queens,Yes,No,https://nycemetery.wordpress.com/2020/11/20/mo...,73.8952537°W 40.7203134°N,NaN,NaN,NaN,...,NaN,Maspeth,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.895254,40.720313
76,76,Barkeloo Cemetery,Brooklyn,Yes,No,https://nycemetery.wordpress.com/2020/10/25/ba...,74.0347311°W 40.6367861°N,NaN,NaN,NaN,...,NaN,Bay Ridge,NaN,Hispanic,NaN,NaN,NaN,NaN,-74.034731,40.636786
77,77,Ursuline Sister Burial Grounds,Bronx,No,Unsure,https://nycemetery.wordpress.com/2020/10/09/ur...,73.9102549°W 40.8167716°N,NaN,NaN,1855.0,...,NaN,Melrose,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.910255,40.816772
78,78,Amity Street Baptist Burial Ground,Manhattan,No,Yes,https://nycemetery.wordpress.com/2020/09/08/am...,73.9967350°W 40.7291516°N,NaN,NaN,1814.0,...,NaN,Greenwich Village,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.996735,40.729152
79,79,St. Mary's Cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2020/09/02/st...,74.0818244°W 40.5967809°N,NaN,NaN,NaN,...,NaN,Arrochar,NaN,Hispanic,NaN,NaN,NaN,NaN,-74.081824,40.596781
80,80,"Bayside Cemetery, Mokom Sholom cemetery& Acaci...",Brooklyn,Yes,No,https://nycemetery.wordpress.com/2020/08/25/ba...,73.8550004°W 40.6777631°N,NaN,NaN,NaN,...,NaN,Ozone Park,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.855000,40.677763
81,81,"Public Burial Ground,Queens",Queens,No,No,https://nycemetery.wordpress.com/2020/08/05/pu...,73.7389615°W 40.7108555°N,NaN,NaN,1844.0,...,NaN,Briarwood,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.738962,40.710856
82,82,New Lots Cemetery,Brooklyn,No,No,https://nycemetery.wordpress.com/2020/07/20/ne...,73.8860248°W 40.6657369°N,NaN,NaN,1823.0,...,NaN,East New York,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.886025,40.665737
83,83,Bethel A.M.E. Church Cemetery,Bronx,No,No,https://nycemetery.wordpress.com/2020/06/18/be...,73.8557934°W 40.8348638°N,NaN,NaN,1849.0,...,NaN,Parkchester,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.855793,40.834864
84,84,"African Burial Ground, Harlem",Manhattan,No,No,https://nycemetery.wordpress.com/2020/05/22/af...,73.9313739°W 40.8030474°N,NaN,NaN,1686.0,...,NaN,East Harlem,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.931374,40.803047
85,85,St. Mary of the assumption cemetery,Staten Island,Yes,No,https://nycemetery.wordpress.com/2020/05/09/st...,74.1451084°W 40.6304628°N,NaN,NaN,NaN,...,NaN,Mariners Harbor/Elm Park,NaN,Hispanic,NaN,NaN,NaN,NaN,-74.145108,40.630463
86,86,"Public Burial Ground, Flushing",Queens,Yes,No,https://nycemetery.wordpress.com/2020/03/14/pu...,73.8023791°W 40.7546461°N,NaN,NaN,NaN,...,NaN,Flushing,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.802379,40.754646
87,87,"Macedonia A.M.E Cemetery,",Queens,No,No,https://nycemetery.wordpress.com/2020/03/01/ma...,73.8275406°W 40.7618200°N,NaN,NaN,NaN,...,NaN,Flushing,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.827541,40.761820
88,88,"Friend's Cemetery, Prospect Park",Brooklyn,Yes,No,https://nycemetery.wordpress.com/2020/02/14/fr...,73.9726505°W 40.6599757°N,NaN,NaN,NaN,...,NaN,Prospect Park,NaN,Hispanic,NaN,NaN,NaN,NaN,-73.972651,40.659976

In [ ]:
print(df_exist['Number of Churches Nearby'].to_string())

2       4.0
6      19.0
7       8.0
11     19.0
17      2.0
18     38.0
19     40.0
24      7.0
25     13.0
29     41.0
30     60.0
31     41.0
32      8.0
34      1.0
35     30.0
36     21.0
40     22.0
41     23.0
49     14.0
50      0.0
51     49.0
52      0.0
53      8.0
55      9.0
56      6.0
57     60.0
58     16.0
60      6.0
61     60.0
63     19.0
64     60.0
66      3.0
67      4.0
70     33.0
73      5.0
75      5.0
76      9.0
79      1.0
80     23.0
85     13.0
86     50.0
88     15.0
96      3.0
98     44.0
101     2.0
102    60.0
103    60.0
106     6.0
108     3.0
110     8.0
111    12.0
112     8.0
113     9.0
115    31.0
122    24.0
124    23.0
126    14.0
128    27.0
130     7.0
131    10.0
132    29.0
133     3.0
134     3.0
135     1.0
136    12.0
138     6.0
139     6.0
140     6.0
141     6.0
142     3.0
143    40.0
144     4.0
147    17.0
149    60.0
150    60.0
151    39.0
152    36.0
154    33.0
157     0.0
159     8.0
160     8.0
162    16.0
163    12.0
164     4.0
165    27.0
167    20.0
168    11.0
170    40.0
172    13.0
177    60.0
178    60.0
179    60.0
180    26.0
186    53.0
187    34.0
0      57.0
1      53.0
3       2.0
4      34.0
5      59.0
8      47.0
9      60.0
10     60.0
12      1.0
13     45.0
14     31.0
15     32.0
16     48.0
20     21.0
21     39.0
22     34.0
23     60.0
26     38.0
27     21.0
28     60.0
33     60.0
37     60.0
38     60.0
39     15.0
42     19.0
43     44.0
44     51.0
45     60.0
46     37.0
47     60.0
48     60.0
54     50.0
59     60.0
62     19.0
65     36.0
68     60.0
69     26.0
71     33.0
72     30.0
74     38.0
77     60.0
78     60.0
81     45.0
82     60.0
83     47.0
84     59.0
87     60.0
89     55.0
90     60.0
91     60.0
92     60.0
93      0.0
94     60.0
95     54.0
97     43.0
99     60.0
100    42.0
104    16.0
105    14.0
107     1.0
109     8.0
114    19.0
116    60.0
117    60.0
118    60.0
119    60.0
120    60.0
121    60.0
123    42.0
125    60.0
127    60.0
129    60.0
137    56.0
145    17.0
146    60.0
148    10.0
153    14.0
155    16.0
156    60.0
158     5.0
161    60.0
166    15.0
169    42.0
171    41.0
173    40.0
174    60.0
175    60.0
176    43.0
181    60.0
182     7.0
183    35.0
184    15.0
185    18.0
188    30.0

In [ ]:
print(df_exist[['Name', 'Number of Churches Nearby']])

                                                  Name  \
2                         St. Andrew's Church Cemetery
6         Port Richmond Reformed Dutch Church Cemetery
7                                    Lutheran Cemetery
11                                 Ocean View Cemetery
17                              Mount Loretto Cemetery
18                                   Flushing Cemetery
19                   St. Paul's Churchyard Cobble Hill
24                               Resurrection Cemetery
25                   Polish National Catholic Cemetery
29   John Street Methodist Church Graveyard and Vaults
30                         Methodist Cemetery, Jamaica
31                           Prison Ship Martyrs Tombs
32                    Stockbridge Indian Burial Ground
34                                St Joseph's Cemetery
35                              Moore Jackson cemetery
36                                  Evergreen Cemetery
40                   Our Lady Of Mount Carmel Cemetery
41                                New Utrecht Cemetery
49                            Mount St.Mary's Cemetery
50                       Presentation Sisters Cemetery
51            Flatlands Reformed Dutch Church Cemetery
52                           Pell Family Burial Ground
53                              St. Michael's Cemetery
55             St. Peter's Cemetery, West New Brighton
56                                    Rapejle Cemetery
57             Flatbush Reformed Dutch Church Cemetery
58       First Presbyterian of Throggs Neck Churchyard
60                                    Merrell Cemetery
61                               St. Monica's Cemetery
63                             Knollwood Park Cemetery
64                                 St. Anns Churchyard
66                              United Hebrew Cemetery
67                                      Riker Cemetery
70        St. Peter's Church Cemetery, Westchester sq.
73                               Baron Hirsch Cemetery
75                               Mount Olivet Cemetery
76                                   Barkeloo Cemetery
79                                 St. Mary's Cemetery
80   Bayside Cemetery, Mokom Sholom cemetery& Acaci...
85                 St. Mary of the assumption cemetery
86                      Public Burial Ground, Flushing
88                    Friend's Cemetery, Prospect Park
96                            Merchant Marine Cemetery
98                                   Canarsie Cemetery
101                    Fredrick Douglass Memorial Park
102                        Friend's Cemetery, Flushing
103                                Holy Cross Cemetery
106                  Quarantine Cemeteries, Silverlake
108                            Mount richmond Cemetery
110                                 Machpelah Cemetery
111                   New Union Field/Beth-El Cemetery
112                               Union Field Cemetery
113                     Hungarian Union Field Cemetery
115                               Linden Hill Cemetery
122         Maimonides Cemetery & Mount Hope Cemetery
124                                Montefiore Cemetery
126                              Cypress Hill Cemetery
128                        Ferris Family Burial Ground
130                            Calvary Cemetery (West)
131                            Calvary Cemetery (East)
132                     Cypress Hill National Cemetery
133                                    Pelham Cemetery
134                                Mount Zion Cemetery
135               Rossville A.M.E Zion Church cemetery
136                      Sailor's Snug Harbor Cemetery
138                  St Johns Cemetery, Middle Village
139                             Remsen Family Cemetery
140                                Washington Cemetery
141                           St. Raymond New Cemetery
142                           St. Raymond New Cemetery
143                Jesuit Cemetery, Fordham University
144                               Mount Judah Cemetery
147                        Sisters of Charity Cemetery
149                         The Marble Cemetery (West)
150                       The Marble Cemeteries (East)
151                             St. raymond Churchyard
152                         Most Holy Trinity Cemetery
154                               St. James churchyard
157                 Van Cortlandt family Burial Ground
159       Cedar Grove Cemetery & Mount Hebron Cemetery
160                       Willett Family Burial Ground
162                              Mount Carmel Cemetery
163                               Mount Neboh Cemetery
164                           Southside Burial Ground
165                          Wyckoff Snediker Cemetery
167                              Salem Fields Cemetery
168  Fourth Shearith Israel Cemetery/ Beth Olem Cem...
170                             St. Paul's Churchyard
172                             Mount Lebanon Cemetery
177                     Third Shearith Israel Cemetery
178                    Second Shearith Israel Cemetery
179                     First Shearith Israel Cemetery
180                      Passionist Monastery Cemetery
186                      Leverich Family Burial Ground
187  The New Burial Place without the gate of the city
0                                                  NaN
1                                                  NaN
3                                                  NaN
4                                                  NaN
5                                                  NaN
8                                                  NaN
9                                                  NaN
10                                                 NaN
12                                                 NaN
13                                                 NaN
14                                                 NaN
15                                                 NaN
16                                                 NaN
20                                                 NaN
21                                                 NaN
22                                                 NaN
23                                                 NaN
26                                                 NaN
27                                                 NaN
28                                                 NaN
33                                                 NaN
37                                                 NaN
38                                                 NaN
39                                                 NaN
42                                                 NaN
43                                                 NaN
44                                                 NaN
45                                                 NaN
46                                                 NaN
47                                                 NaN
48                                                 NaN
54                                                 NaN
59                                                 NaN
62                                                 NaN
65                                                 NaN
68                                                 NaN
69                                                 NaN
71                                                 NaN
72                                                 NaN
74                                                 NaN
77                                                 NaN
78                                                 NaN
81                                                 NaN
82                                                 NaN
83                                                 NaN
84                                                 NaN
87                                                 NaN
89                                                 NaN
90                                                 NaN
91                                                 NaN
92                                                 NaN
93                                                 NaN
94                                                 NaN
95                                                 NaN
97                                                 NaN
99                                                 NaN
100                                                NaN
104                                                NaN
105                                                NaN
107                                                NaN
109                                                NaN
114                                                NaN
116                                                NaN
117                                                NaN
118                                                NaN
119                                                NaN
120                                                NaN
121                                                NaN
123                                                NaN
125                                                NaN
127                                                NaN
129                                                NaN
137                                                NaN
145                                                NaN
146                                                NaN
148                                                NaN
153                                                NaN
155                                                NaN
156                                                NaN
158                                                NaN
161                                                NaN
166                                                NaN
169                                                NaN
171                                                NaN
173                                                NaN
174                                                NaN
175                                                NaN
176                                                NaN
181                                                NaN
182                                                NaN
183                                                NaN
184                                                NaN
185                                                NaN
188                                                NaN

     Number of Churches Nearby
2                          4.0
6                         19.0
7                          8.0
11                        19.0
17                         2.0
18                        38.0
19                        40.0
24                         7.0
25                        13.0
29                        41.0
30                        60.0
31                        41.0
32                         8.0
34                         1.0
35                        30.0
36                        21.0
40                        22.0
41                        23.0
49                        14.0
50                         0.0
51                        49.0
52                         0.0
53                         8.0
55                         9.0
56                         6.0
57                        60.0
58                        16.0
60                         6.0
61                        60.0
63                        19.0
64                        60.0
66                         3.0
67                         4.0
70                        33.0
73                         5.0
75                         5.0
76                         9.0
79                         1.0
80                        23.0
85                        13.0
86                        50.0
88                        15.0
96                         3.0
98                        44.0
101                        2.0
102                       60.0
103                       60.0
106                        6.0
108                        3.0
110                        8.0
111                       12.0
112                        8.0
113                        9.0
115                       31.0
122                       24.0
124                       23.0
126                       14.0
128                       27.0
130                        7.0
131                       10.0
132                       29.0
133                        3.0
134                        3.0
135                        1.0
136                       12.0
138                        6.0
139                        6.0
140                        6.0
141                        6.0
142                        3.0
143                       40.0
144                        4.0
147                       17.0
149                       60.0
150                       60.0
151                       39.0
152                       36.0
154                       33.0
157                        0.0
159                        8.0
160                        8.0
162                       16.0
163                       12.0
164                        4.0
165                       27.0
167                       20.0
168                       11.0
170                       40.0
172                       13.0
177                       60.0
178                       60.0
179                       60.0
180                       26.0
186                       53.0
187                       34.0
0                         57.0
1                         53.0
3                          2.0
4                         34.0
5                         59.0
8                         47.0
9                         60.0
10                        60.0
12                         1.0
13                        45.0
14                        31.0
15                        32.0
16                        48.0
20                        21.0
21                        39.0
22                        34.0
23                        60.0
26                        38.0
27                        21.0
28                        60.0
33                        60.0
37                        60.0
38                        60.0
39                        15.0
42                        19.0
43                        44.0
44                        51.0
45                        60.0
46                        37.0
47                        60.0
48                        60.0
54                        50.0
59                        60.0
62                        19.0
65                        36.0
68                        60.0
69                        26.0
71                        33.0
72                        30.0
74                        38.0
77                        60.0
78                        60.0
81                        45.0
82                        60.0
83                        47.0
84                        59.0
87                        60.0
89                        55.0
90                        60.0
91                        60.0
92                        60.0
93                         0.0
94                        60.0
95                        54.0
97                        43.0
99                        60.0
100                       42.0
104                       16.0
105                       14.0
107                        1.0
109                        8.0
114                       19.0
116                       60.0
117                       60.0
118                       60.0
119                       60.0
120                       60.0
121                       60.0
123                       42.0
125                       60.0
127                       60.0
129                       60.0
137                       56.0
145                       17.0
146                       60.0
148                       10.0
153                       14.0
155                       16.0
156                       60.0
158                        5.0
161                       60.0
166                       15.0
169                       42.0
171                       41.0
173                       40.0
174                       60.0
175                       60.0
176                       43.0
181                       60.0
182                        7.0
183                       35.0
184                       15.0
185                       18.0
188                       30.0